tensorflow
keras
flask
opencv-python
numpy
pillow
flask_cors
keras-preprocessing
# conda install pytorch torchvision torchaudio pytorch-cuda=12.1 -c pytorch -c nvidia
# conda install -c fastai fastai
