<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skin Lesion AI</title>
    <link rel = "stylesheet" type = "text/css" href="{{url_for('static', filename='index_style.css')}}">
</head>
<body>
    <div class="banner"> 
        <div class="bannercontent">
            <div class="bannertext">
                <strong>Note:</strong> This application is not a certified medical software, and you should visit you doctor for any medical concerns!
            </div>
            <button class="bannerconfirm" type="button"> <span class="material-icons"><strong>I Got It!</strong></span></button>
            
        </div>
    </div>

    <div class="title_content">
        <span class = "main_title">Skinter: Skin Lesion Classification App</span>
        <button class = "about_b"><a href="/about" style="text-decoration: none;"><strong>About</strong></a></button>
    </div>

    <div class="steps">
        <div class="step-text">Step 1 - Choose Image Source</div>
    </div>

    <div class="steps">
        <div>    
            <!-- <label for="fileToUpload" class="btn">Option 1: Select image from device</label>
            <input id="fileToUpload" class="choosefilebutton" type="file" name="fileToUpload"  style="visibility:hidden;"> -->
            <p class="step-indent">Option 1: Select image from device</p>
        </div>
    </div>

    <div class="steps">
        <div>
            <input type="file" class="choosefilebutton step-indent-half" id="fileToUpload" name="fileToUpload" >
        </div>
    </div>

    <div class="steps">
        <div>
            <p class="step-indent">Or</p>
        </div>
    </div>

    <div class="steps">
        <div>
            <p class="step-indent">Option 2: Use Camera</p>
        </div>
    </div>

    <div class="steps">
        <div>
            <div class="step-indent">
            <video id="video" controls autoplay playsInline></video>
            <div>
              <button id="btn-front" class="btn-camera">Front Camera</button>
              <button id="btn-back" class="btn-camera">Back Camera</button>
            </div>
            <div>
              <button id="btn-take-photo" class="btn-camera">Take photo</button>
            </div>
            </div>
        </div>
    </div>

    <div class="steps">
        <div class="step-text">Step 2- Upload Image</div>
    </div>

    <div class="steps">
        <form id="img_form" action="/process" method="post" enctype="multipart/form-data">
            <!-- <strong class="situ">Select image to upload:</strong> <br> -->
            <div class = "inputs">
                <!-- <input class="choosefilebutton" type="file" name="fileToUpload" id="fileToUpload"><br> -->
                <input class="uploadfilebutton" type="submit" value="Upload Image" name="submit"><br>
                <input type="hidden" id="img_content" name="img_content" value="">
            </div>
        </form>
    </div>

    <div class="steps">
        <div class="temp_buffer">
            <!-- <canvas id="canvas"> </canvas> -->
        </div>
    </div>

    <div class="steps">
        <div class="step-text">Your selected image below:</div>
    </div>

    <div class="steps">
        <div class="output">
            <img id="photo" alt="selected image here" />
        </div>
    </div>

</body>
<script src="{{url_for('static', filename='index.js')}}"></script>
</html>