*{
    font-family: 'Quicksand', sans-serif;
}
.banner{
    background: rgb(180, 21, 21);
    box-shadow: 1cm;
}
.bannercontent{
    padding: 16px;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 100 ;
    display: flex;
    align-items: center;
}
.bannertext{
    flex-grow: 1;
    line-height: 1.4;
    font-family: 'Quicksand', sans-serif;
}
.bannerconfirm{
    background: none;
    border: none;
    cursor: pointer;
}
.bannertext, .bannerconfirm > span {
    color: #fff;
}